<div class="container">
<h2 class="p-2">Admin Login</h2>

<%= form_tag admin_sessions_path, method: :post do %>
  <div>
    <%= label_tag :username %>
    <%= text_field_tag :username %>
  </div>

  <div class="my-2">
    <%= label_tag :password, 'Password', class:"me-1" %>
    <%= password_field_tag :password %>
  </div>

  <%= submit_tag 'Login', class: "my-2" %>
<% end %>

</div>
